/*Configuração Padrão*/
body.padrao {
    /*Estilização padrão para alinhar o site nas bordas*/
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    background-color: var(--white);
    height: 100vh;
}

:root {
    /*Cores do Site*/
    --white: #E6E8F4;
    --blue: #00198E;
    --yellow: #FFDF2B;
    --orange: #FFC24B;
}

/*Parte Azul com o Texto "Educação Física"*/

div.cabecalho {
    height: 10rem;
    background-color: var(--blue);
    display: flex;
    align-items: center;
}

h1.educacao {
    padding-left: 30px;
    color: var(--yellow);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 90px;
    font-style: normal;
    text-shadow: 1px 1px 5px black;
}

h1.fisica {
    padding-left: 30px;
    color: var(--blue);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 90px;
    font-weight: 800;
    font-style: normal;
    text-shadow: 
        -1px -1px 0 var(--yellow), 1px -1px 0 var(--yellow), -1px 1px 0 var(--yellow), 1px 1px 0 var(--yellow),
        -2px -2px 0 var(--yellow), 2px -2px 0 var(--yellow), -2px 2px 0 var(--yellow), 2px 2px 0 var(--yellow);
}

/*Parte das opções*/

div.opcoes {
    height: 5rem;
    background-color: var(--yellow);
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
}

h2.opcoes {
    padding-left: 20px;
    font-size: 2rem;
    font-family: "Inter", sans-serif;
}

/*Subopções*/

div.conjunto {
    position: absolute;
    width: 93%;
    top: 15.5rem;
}

/*cada subopção tem uma posição, por isso cada uma tem um estilo*/
div.subopcoes.um {
    display: none;
    position: absolute;
    background-color: var(--yellow);
    width: 30rem;
    height: 9rem;
    margin-left: 3rem;
    border: 2px solid black;
    border-top: 0;
}

div.subopcoes.dois {
    display: none;
    position: absolute;
    background-color: var(--yellow);
    width: 25rem;
    height: 5rem;
    margin-left: 3rem;
    border: 2px solid black;
    border-top: 0;
    left: 25rem;
}

div.subopcoes.tres {
    display: none;
    position: absolute;
    background-color: var(--yellow);
    width: 20rem;
    height: 5rem;
    margin-left: 3rem;
    border: 2px solid black;
    border-top: 0;
    left: 46rem;
}

div.subopcoes.quatro {
    display: none;
    position: absolute;
    background-color: var(--yellow);
    width: 19rem;
    height: 4rem;
    margin-left: 3rem;
    border: 2px solid black;
    border-top: 0;
    left: 65rem;
}

div.laranja {
    position: absolute;
    height: 100%;
    width: 2rem;
    background-color: var(--orange);
    border-right: 2px solid black;
}

h3 {
    padding-left: 2.4rem;
    position: relative;
    margin-block-start: 0rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
}

/*Se passar por cima da opção, as subopções aparecem*/
/*subopções da opcão 1*/
.treinos:hover ~ div.conjunto div.subopcoes.um {
    display: block;
    cursor: pointer;
}

div.conjunto div.subopcoes.um:hover {
    display: block;
    cursor: pointer;
}

/*subopções da opcão 2*/
.reservas:hover ~ div.conjunto div.subopcoes.dois {
    display: block;
    cursor: pointer;
}

div.conjunto div.subopcoes.dois:hover {
    display: block;
    cursor: pointer;
}

/*subopções da opcão 3*/
.times:hover ~ div.conjunto div.subopcoes.tres {
    display: block;
    cursor: pointer;
}

div.conjunto div.subopcoes.tres:hover {
    display: block;
    cursor: pointer;
}

/*subopções da opcão 4*/
.configuracoes:hover ~ div.conjunto div.subopcoes.quatro {
    display: block;
    cursor: pointer;
}

div.conjunto div.subopcoes.quatro:hover {
    display: block;
    cursor: pointer;
}