:root {
    /*Cores do Site*/
    --white: #E6E8F4;
    --blue: #00198E;
    --yellow: #FFDF2B;
    --orange: #FFC24B;
    --yellowSecondary: #FFF1A8;
    --bottonAccept: #A2F294;
    --bottonAcceptSecondary: #4F9552;
    --bottonRecuse: #F87D7D;
    --bottonRecuseSecondary: #AC3C3C;
}

/*Configurações Gerais*/
table {
    border-collapse: collapse;
    margin-top: 3rem;
    height: 10rem;
    width: 85rem;
    background-color: white;
    border: 1px solid black;
    margin-bottom:3rem;
}

caption {
    background-color: white;
    font-family: "Inter", sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--blue);
    text-shadow: 0.1rem 0.1rem 0rem black;
    word-spacing: 0.5rem;
    border: 1px solid black;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

thead {
    height: 4rem;
}

th {
    font-family: "Inter", sans-serif;
    text-align: left;
    font-size: 2rem;
    padding: 0.5rem;
    padding-left: 2rem;
}

td {
    font-family: "Inter", sans-serif;
    text-align: left;
    padding-left: 30px;
    font-size: 1.3rem;
    height: 0.7rem;
    padding-bottom: 10px;
    padding-top: 10px;
}
/*Menu zebrado*/
.amarelo {
    background-color: var(--yellowSecondary);
    padding: 0.5rem;
}

.branco {
    padding: 0.5rem;
}

/*Centraliza uma Div*/
.centralizarDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*CSS das páginas que listam quando se clica em "Ver"*/

.divListar {
    display:grid;
    grid-template-rows: repeat(3, 4rem);
    width: 55rem;
    height: 25rem;
    column-gap: 1.5rem;
    justify-content: center;
    background-color: white;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 2rem;
    border-color: black;
    border: solid 0.15rem;
    box-shadow: 0.1rem 0.1rem 1rem black;
}

.divTitulo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divListar h1{
    font-size: 1.1rem;
    height: 1rem;
    padding: 0;
    font-family: "Inter", sans-serif;
    text-align: left;
}

.divTitulo h1 {
    font-size: 1.3rem;
    text-decoration:underline;
}

.divListar h2{
    font-size: 1rem;
    padding: 0;
    font-family: "Inter", sans-serif;
    text-align: left;
    font-weight: 400;
    margin-left: 0.5rem;
}

.tableAlunos {
    margin-bottom: 7rem;
}